.container {
    background-image:url("juicecolor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#smile {
    background-color: #e0cf0e;
}

#quote {
    background-color: #14b57a;
}

#fact {
    background-color: #5219bd;
}