.container {
    background-image:url("juicecolor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-image:url("orange-background.png");
}

footer{
    background-color: aqua;
}

.shpiel {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: 20px;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#smile {
    color:whitesmoke;
    background-color: #e0cf0e;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#quote {
    background-color: #14b57a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#fact {
    background-color: #5219bd;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.lifenav {
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(100%, -50%)
}

.lifenav::first-letter {
    color: orangered;
}

.second {
    color: red;
}

.third {
    color: orchid;
}

.fourth {
    color: yellow;
}

.fifth {
    color: #0c90e8;
}

.sixth {
    color: #38e80c;
}

.seventh {
    color: #970ce8;
}

.eighth {
    color: #53782f;
}

.ninth {
    color: #e8900c;
}