.container {
    background-image:url("juicecolor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-image:url("orange-background.png");
}

.modal{
    background-image: url('footerImage.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-card-head{
    background-color: rgb(42, 44, 173) ;
    border: solid rgb(199, 212, 18) 5px;
}

.modal-card-body{
    background-color: rgb(220, 220, 224) ;
    margin-left: 17px;
}

.footer{
    background-color: rgb(228, 32, 114);
}

#smile {
    color:whitesmoke;
    background-color: #e0cf0e;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#quote {
    background-color: #14b57a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#fact {
    background-color: #5219bd;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.lifenav {
    font-size: 8em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.lifenav::first-letter {
    color: red;
}

.second {
    color: #970ce8;
}

.third {
    color: orchid;
}

.fourth {
    color: #e8900c;
}

.fifth {
    color: #0c90e8;
}

.sixth {
    color: #49c22a;
}

.seventh {
    color: #970ce8;
}

.eighth {
    color: #53782f;
}

.ninth {
    color: #e8900c;
}

#main-nav{
    margin: 0 auto;
}

#heart-logo {
    min-height: 200px;

    
}

#juice-logo {
    min-height: 100px;
}